@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.default-line-color {
  /* background-color: theme("colors.system.blue60"); */
  background-color: theme("colors.system.cloudblue70");
}

.change-line-color {
  background-color: theme("colors.system.green70");
}

.pulse-animation {
  animation: pulse 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
